<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Annas Salons</title>
</head>
<body>
    <header>
        <h1>Annas Salons</h1>
        <nav>
            <ul>
                <li><a href="src\templates\home.html">Sākums</a></li>
                <li><a href="src\templates\pakalpojumi.html">Pakalpojumi</a></li>
                <li><a href="src\templates\klienti.html">Klienti</a></li>
                <li><a href="src\templates\tiksanas.html">Tikšanās</a></li>
                <li><a href="src\templates\registreties.html">Reģistrēties</a></li>
                <li><a href="src\templates\pieteikties.html">Pieteikties</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h2>Šis ir tavs izskats,</h2>
            <p>esi pats labākais</p>
        </section>
    </main>
    <footer>
        <p>&copy; 2025 Annas Skaistumkopšanas Salons</p>
    </footer>
</body>
</html>