<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Reģistrēties</title>
</head>
<body>
    <header>
        <h1>Annas Salons</h1>
        <nav>
            <ul>
                <li><a href="src\templates\home.html">Sākums</a></li>
                <li><a href="src\templates\pakalpojumi.html">Pakalpojumi</a></li>
                <li><a href="src\templates\klienti.html">Klienti</a></li>
                <li><a href="src\templates\tiksanas.html">Tikšanās</a></li>
                <li><a href="src\templates\registreties.html">Reģistrēties</a></li>
                <li><a href="src\templates\pieteikties.html">Pieteikties</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="container">
            <h1>Reģistrēties</h1>
            <form action="/register" method="POST">
                <label for="username">Lietotajvārds: </label>
                <input type="text" id="username" name="username" required>

                <label for="password">Parole: </label>
                <input type="password" id="password" name="password" required>

                <button type="submit">Reģistrēties</button>
            </form>
            <p>Ir konts?<a href="/login">Pieteikties</a>.</p>
        </div>
    </main>
    <footer>
        <p>&copy; 2025 Annas Skaistumkopšanas Salons</p>
    </footer>
</body>
</html>