<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}?v=1">
    <title>Annas Salons</title>
    <style type="text/css"> 
</style>
</head>
    <header>
        <h1><a href="/">Annas Salons</a></h1>
        <nav>
            <a href="/pakalpojumi">Pakalpojumi</a>
            {% if not logged_in %}
                <a href="/registreties">Reģistrēties</a>
                <a href="/pieteikties">Pieteikties</a>
            {% else %}
                {% if is_admin %}
                    <a href="/klienti">Klienti</a>
                {% endif %}
                <a href="/tiksanas">Tikšanās</a>
                <a href="/profils">Profils</a>
                <a href="{{ url_for('logout') }}">Izrakstīties</a>
            {% endif %}
        </nav>
    {% if logged_in %}
    {% endif %}
    </header>
    <main>
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            <ul class="flashes">
              {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
    <section class="hero">
    <h2>Šis ir tavs izskats,</h2>
    <p>esi pats labākais</p>
    <a href="/pakalpojumi"><button class="btn-drk"> Rezervēt tagad</button></a>
    </main>
    <footer>
        <p>&copy; 2025 Annas Skaistumkopšanas Salons</p>
    </footer>
</body>
</html>