<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Annas Salons</title>
</head>
<body>
    <header>
        <h1><a href="/">Annas Salons</a></h1>
        <nav>
            <a href="/pakalpojumi">Pakalpojumi</a>                   
            <a href="/klienti">Klienti</a>                   
            <a href="/tiksanas">Tikšanās</a>                   
            <a href="/registreties">Reģistrēties</a>
            <a href="/pieteikties">Pieteikties</a>
        </nav>
    </header>
    <main>
        <section>
            <h2>Šis ir tavs izskats,</h2>
            <h3>esi pats labākais</h3>
        </section>
    </main>
    <footer>
        <p>&copy; 2025 Annas Skaistumkopšanas Salons</p>
    </footer>
</body>
</html>