<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}?v=1">
    <title>Klienti</title>
</head>
<body>
    <header>
        <h1><a href="/">Annas Salons</a></h1>
        <nav>
            <a href="/pakalpojumi">Pakalpojumi</a>
                <a href="/klienti">Klienti</a>
                <a href="/tiksanas">Tikšanās</a>
                <a href="/profils">Profils</a>
                <a href="{{ url_for('logout') }}">Izrakstīties</a>
        </nav>
    </header>
    <main>
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            <ul class="flashes">
              {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
        <div class="div-2"><h2>Klienti</h2></div>
        <div class="div-4">
            <table class="klientu-tabula" style="width:100%; border-collapse:collapse;">
                <thead>
                    <tr>
                        <th>Vārds</th>
                        <th>Uzvārds</th>
                        <th>E-pasts</th>
                        <th>Tālrunis</th>
                    </tr>
                </thead>
                <tbody>
                    {% for klients in klienti %}
                    <tr>
                        <td>{{ klients.vards }}</td>
                        <td>{{ klients.uzvards }}</td>
                        <td>{{ klients.email }}</td>
                        <td>{{ klients.tel_numurs }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% if pakalpojums %}
        <div class="div-1">
            <h3>Klienta informācija</h3>
            <p>{{ pakalpojums.klients_info() }}</p>
        </div>
        {% endif %}
    </main>
    <footer>
        <p>&copy; 2025 Annas Skaistumkopšanas Salons</p>
    </footer>
</body>
</html>