<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}?v=1">
    <title>Reģistrēties</title>
</head>
<body>
    <header>
        <h1><a href="/">Annas Salons</a></h1>
        <nav>
            <a href="/pakalpojumi">Pakalpojumi</a>
            {% if logged_in %}
                <a href="/klienti">Klienti</a>
                <a href="/tiksanas">Tikšanās</a>
                <a href="{{ url_for('logout') }}">Izrakstīties</a>
            {% endif %}
        </nav>
    </header>
    <main>
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            <ul class="flashes">
              {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
        
        <h2>Reģistrēties</h2>
        <div class="div-1">
            <form action="/registreties" method="POST">
                <div class="div-2">
                    <label for="username">Lietotajvārds: </label>
                    <input type="text" id="username" name="username" required>
                </div>
                <div class="div-2">
                    <label for="password">Parole: </label>
                    <input type="password" id="password" name="password" required>
                </div>
                <div class="div-2">
                    <label for="vards">Klienta vārds:</label>
                    <input type="text" id="vards" name="vards" required>
                </div>
                <div class="div-2">
                    <label for="uzvards">Klienta uzvārds:</label>
                    <input type="text" id="uzvards" name="uzvards" required>
                </div>
                <div class="div-2">
                    <label for="pk">Klienta personas kods:</label>
                    <input type="text" id="pk" name="pk" required>
                </div>
                <div class="div-2">
                    <label for="tel_numurs">Klienta telefona numurs:</label>
                    <input type="text" id="tel_numurs" name="tel_numurs" required>
                </div>
                <button type="submit">Reģistrēties</button>
            </form>
        </div>
        <div><p>Ir konts? <a href="/pieteikties">Pieteikties!</a></p></div>
    </main>
    <footer>
        <p>&copy; 2025 Annas Skaistumkopšanas Salons</p>
    </footer>
</body>
</html>