<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}?v=1">
    <title>Tikšanās</title>
</head>
<body>
    <header>
        <h1><a href="/">Annas Salons</a></h1>
        <nav>
            <a href="/pakalpojumi">Pakalpojumi</a>
            {% if not logged_in %}
                <a href="/registreties">Reģistrēties</a>
                <a href="/pieteikties">Pieteikties</a>
            {% else %}
                <a href="/klienti">Klienti</a>
                <a href="/tiksanas">Tikšanās</a>
                <a href="/profils">Profils</a>
                <a href="{{ url_for('logout') }}">Izrakstīties</a>
            {% endif %}
        </nav>
    </header>
    <main>
        <h2>Manas tikšanās</h2>
        {% if appointments and appointments|length > 0 %}
            <table>
                <thead>
                    <tr>
                        <th>Kategorija</th>
                        <th>Nosaukums</th>
                        <th>Cena</th>
                        <th>Datums</th>
                        <th>Sākuma laiks</th>
                        <th>Beigu laiks</th>
                    </tr>
                </thead>
                <tbody>
                    {% for pak in appointments %}
                    <tr>
                        <td>{{ pak.kategorija }}</td>
                        <td>{{ pak.nosaukums }}</td>
                        <td>{{ pak.cena }} €</td>
                        <td>{{ pak.datums }}</td>
                        <td>{{ pak.sakuma_laiks }}</td>
                        <td>{{ pak.beigu_laiks }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="div-1">
                <p>Jums nav nevienas tikšanās.</p>
                <p><a href="{{ url_for('pakalpojumi') }}">Pievienot tikšanos</a></p>
            </div>
        {% endif %}
    </main>
    <footer>
        <p>&copy; 2025 Annas Skaistumkopšanas Salons</p>
    </footer>
</body>
</html>