<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Tikšanās</title>
</head>
<body>
    <header>
        <h1><a href="/">Annas Salons</a></h1>
        <nav>
            <ul>
                <li><a href="/">Sākums</a></li>
                <li><a href="/pakalpojumi">Pakalpojumi</a></li>
                <li><a href="/klienti">Klienti</a></li>
                <li><a href="/tiksanas">Tikšanās</a></li>
                <li><a href="/registreties">Reģistrēties</a></li>
                <li><a href="/pieteikties">Pieteikties</a></li>
            </ul>
        </nav>
    </header>
    <main>
    </main>
    <footer>
        <p>&copy; 2025 Annas Skaistumkopšanas Salons</p>
    </footer>
</body>
</html>